body, html {
    margin: 0;
    padding: 0;
    background-color: #007bff;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

input {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    transition: border 0.3s;
    margin-top: 15px;
    margin-bottom: 15px;
}

form {
    height: 100%;
    width: 100%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 15%;
    width: 97%;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s;
    line-height: normal;
    padding: 10px 15px;
    margin-top: 10px;
}

input:focus, textarea:focus {
    border-color: #007bff;
}

button:hover {
    background-color: #0056b3;
  }

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1)
}

.add {
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    height: 25px;
    width: 101%;
    margin-top: 5px;
}

.delete {
    border: none;
    background-color: rgb(241, 68, 68);
    color: #fff;
    border-radius: 4px;
    height: 25px;
    width: 65px;
    margin-top: 5px;
}

.edit {
    border: none;
    background-color: rgb(15, 187, 58);
    color: #fff;
    border-radius: 4px;
    height: 25px;
    width: 65px;
    margin-top: 5px;
}
.submit {
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    height: 25px;
    width: 101%;
    margin-top: 5px;
}

#newToDo {
    height: 23vh;
}

.container2 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 35vh;
}

